Wrapper {
    overflow: hidden;
}

Wrapper + Wrapper {
    margin-top: 16px;
}

@media screen and (max-width: 599px) {
    Wrapper + Wrapper {
        margin-top: 12px;
    }
}

label {
    display: block;
    font-weight: bold;
}

label + textarea {
    margin-top: 4px;
}

textarea {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    box-shadow: none;

    width: 100%;
    max-width: 100%;
    padding: 8px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-color: #e1e1e1;
    transition: border 0.2s ease 0s, color 0.2s ease 0s;
    outline: none;
}

textarea:focus {
    border-color: #7d7d7d;
}

textarea::placeholder {
    color: #999999;
}
