main {
    display: flex;
    flex-direction: column;

    padding: 24px;
    max-width: 100%;
}

h1,
h2 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 12px;
}

h1 {
    margin: 0 0 24px;
}

info {
    color: #666;
}

@media screen and (max-width: 599px) {
    main {
        padding: 20px 10px;
        width: 100%;
        overflow-x: hidden;
    }

    h1 {
        margin: 0 0 12px;
    }
}
