* {
    box-sizing: border-box;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #111111;
}

::selection {
    background-color: #79ffe1;
}

:focus {
    outline-color: #0761D1;
    outline-offset: 2px;
    outline-width: 1px;
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}
