footer {
    display: flex;
    justify-content: flex-end;

    padding: 24px;
}

a {
    display: inline-block;
    font-size: 0;
}

@media screen and (max-width: 599px) {
    footer {
        padding: 12px 8px;
        width: 100%;
    }
}
